.quiz {
    margin: 2rem auto;
    width: 90%;
    text-align: left;
  }
  
  .container {
    width: 85%;
    font-size: larger;
    padding: 1rem 0;
  }
  
  .container p {
    margin: 1rem 0;
    font-weight: 600;
  }

  .container input {
    margin: 0rem 1rem;
  }

  .btn-check {
    margin: 1rem 0rem 0rem 0rem;
  }